@import '../../src/styles/typography';

.heading {
  @include text-lg;
  @include heading;
}

.project-container {
  margin-bottom: 100px;
}

.project-title {
  @include text-md;
  @include heading(2);
}

.link {
  position: relative;
}

.button-container {
  position: absolute;
  top: 10px;
  right: 10px;

  z-index: 10;
}
