@import '../../../../styles/typography';
@import '../../../../styles/layout';

.grid-block {
  @include grid-block;
}

.image-container {
  width: 100%;
  max-width: 300px;
}

.heading {
  @include heading(2);
}

.description-lg {
  display: none;

  grid-column-start: 2;

  @media (min-width: $md) {
    display: block;
  }
}

.description-sm {
  margin-top: 30px;

  grid-column: 1 / -1;

  @media (min-width: $md) {
    display: none;
  }
}
