@import '../../../styles/colors.scss';
@import '../../../styles/typography.scss';

.container {
  display: flex;
  align-items: center;
  gap: 0.3em;
}

.body {
  @include text-body;
}

.sm {
  @include text-sm;
}

.md {
  @include text-md;
}

.icon-container {
  position: relative;

  height: 1.7em;
  width: 1.7em;
  border-radius: 50%;
  background-color: $blue;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 1.1em;
  width: 1.1em;

  fill: white;
}

.text {
  font-size: inherit;
}
