@import '../../../styles/typography';
@import '../../../styles/colors';
@import '../../../styles/ui';

.nav {
  position: absolute;
  top: 15px;
  right: 15px;

  border-radius: 99999px;
  border: 1px solid $blue;

  overflow: hidden;

  z-index: 100;
}

.content-nav {
  @include ui-bg;
}

.list {
  display: flex;
}

.link {
  @include text-md;

  display: block;

  padding: 5px 9px;
  border-radius: 99999px;

  &:hover {
    color: $blue;

    @media (hover: none) {
      color: white;
    }
  }
}

.active-link {
  background-color: $blue;
  color: white;
  pointer-events: none;
}

@mixin bg {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border-radius: 99999px;

  transition: all 0.1s linear;

  pointer-events: none;
}

.hover-bg {
  @include bg;

  background-color: rgba($blue, 0.2);

  z-index: -10;
}
